body{   
    background-image: url(https://image.freepik.com/free-photo/dark-concrete-texture-background_24837-397.jpg)

}
 h1{
    text-align: center;
    font-size: 45px;
 }
#subtitulo {
    text-align: justify;
    font-size: 30px;
}

div.projetos{
    justify-content: space-between;
    font-size: 30px;
    display:flex;

}

a{
    color: rgb(46, 46, 46);
    
}

#insta{
    font-size: 30px;
    font-style: italic;
}
